<section>
<h1>Manage Users</h1>

<table>
<tr>
	<td>Staff ID</td>
	<td>Name</td>
  <td>Email</td>
  <td>Privilege</td>
</tr>
<tr ng-repeat="s in staff">
	<td>{{s.staff_id}}</td>
  <td>{{s.name}}</td>
  <td>{{s.email}}</td>
	<td>
    <select ng-disabled="s.staff_id === staffId()" required="required" 
            name="type" ng-model="s.privilege" 
            ng-change="changePrivilege(s.staff_id, s.privilege)" 
            style="width: 200px">
      <option value="member">Member</option>
      <option value="test-solver">Test Solver</option>
      <option value="secure">Secure Member</option>
    	<option value="admin">Admin</option>
    </select><br class="clearFloat" />
  </td>
</tr>
</table>

</section>
