<section>
<h1>Submit Proposal</h1>

<div ng-show="error" class="alert alert-danger row">
  <span class="form-error-msg">{{error.message}}</span>
</div>
<form ng-submit="submit()" id="prob-form">
<select required="required" form="prob-form" name="prob-subject" ng-model="prob.subject">
	<option value="">Subject</option>
  <option ng-repeat="(key, subject) in subjects" value="{{key+1}}">{{subject}}</option>
</select><br class="clearFloat" />
<select required="required" form="prob-form" name="prob-diff" ng-model="prob.difficulty">
	<option value="">Difficulty</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
</select><br class="clearFloat" />
<textarea name="prob-stmt" id="prob-stmt" ng-model="prob.problem" placeholder="Problem statement" required></textarea><br />
<input type="text" name="prob-ans" id="prob-ans" ng-model="prob.answer" placeholder="Answer" required /><br />
<textarea name="prob-soln" id="prob-soln" ng-model="prob.solution" placeholder="Solution"required></textarea><br />
<a class="form-btn" onclick="previewProposal()">Preview</a>
<input type="submit" name="prob-submit" value="Submit" />
</form>
<div id="preview-zone"></div>
</section>
