<section>
<h1>Submit Proposal</h1>
<form>
<label>Subject:</label><select name="prob-topic">
	<option value="Algebra">Algebra</option>
	<option value="Combinatorics">Combinatorics</option>
	<option value="Computer Science">Computer Science</option>
	<option value="Geometry">Geometry</option>
	<option value="Number Theory">Number Theory</option>
	<option value="Other">Other</option>
</select><br class="clearFloat" />
<label>Difficulty:</label><select name="prob-diff">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
</select><br class="clearFloat" />
<textarea name="prob-stmt" id="prob-stmt" placeholder="Problem statement"></textarea><br />
<input type="text" name="prob-ans" id="prob-ans" placeholder="Answer" /><br />
<textarea name="prob-soln" id="prob-soln" placeholder="Solution"></textarea><br />
<a class="form-btn" onclick="previewProposal()">Preview</a>
<input type="submit" name="prob-submit" value="Submit" />
</form>
<div id="preview-zone"></div>
</section>
