<section>

<div ng-show="error" class="alert alert-danger row">
  <span class="form-error-msg">{{error.message}}</span>
</div>

<h1>Sign Up</h1>
<p>Already have an account? Try <a href="#/login">logging in</a>.</p>
<form ng-submit="signup()">
<input type="text" name="name" ng-model="user.name" placeholder="Full Name" /><br />
<input type="text" name="email" ng-model="user.email" placeholder="Email" /><br />
<input type="text" name="email" ng-model="user.andrewid" placeholder="Andrew ID" /><br />
<input type="password" name="password1" ng-model="user.password" placeholder="Password" /><br />
<input type="password" name="password2" ng-model="user.passwordConfirm" placeholder="Password (confirm)" /><br />
<input type="submit" name="submit" />
</form>
</section>
