<section>
<h1>View Proposal</h1>
ID: {{prob.probid}}<br />
Topic: {{prob.topic}}<br />
<h3>Problem</h3>
{{prob.problem}}
<h3>Answer</h3>
{{prob.answer}}
<h3>Solution</h3>
{{prob.solution}}

<br /><br />

<h1>Alternate Solutions</h1>
<!-- No alternate solutions
<p>No alternate solutions.</p> -->
<!-- Alternate solutions -->
<table>
<tr>
	<td>User</td>
	<td>Solution</td>
</tr>
<tr>
	<td>Cody</td>
	<td>Note that $2^n=(1+1)^n=\sum_{k=0}^n\binom{n}k$.</td>
</tr>
</table>

<br />

<h1>Comments</h1>
<!-- No comments
<p>No comments.</p> -->
<!-- Comments -->
<table>
<tr>
	<td>User</td>
	<td>Comment</td>
</tr>
<tr>
	<td>Cody</td>
	<td>Nice problem, but a bit well-known.</td>
</tr>
</table>
</section>
