@font-face {
  font-family: marion-bold;
  src: url('../fonts/Marion-Bold.ttf');
}

h1, h2, h3, h4, h5, h6, .bold-text  {
  font-weight: bold;
}

h1  {
  font-size: 32px;
}

h2  {
  font-size: 24px;
}

h3  {
  font-size: 16px;
}

h4  {
  font-size: 12px;
}

h5  {
  font-size: 10px;
}

h6  {
  font-size: 8px;
}

nav {
  height: 48px;
  line-height: 48px;
}

.brand-logo {
  margin-left: 10px;
  font-family: marion-bold, serif;
}

.news-feed  {
  display: block;
  width: 100%;
  background-color: #eceff1;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
  margin-top: 20px;
}

.news-feed h3 {
  font-size: 16px;
  padding: 8px;
  margin: 0;
  line-height: 16px;
}

.news-feed ul {
  margin: 0;
}

.news-feed ul li  {
  border-top: 1px solid #cfd8dc;
  background-color: white;
  padding: 8px;
}

.counter  {
  background-color: #90a4ae;
  color: white;
  font-weight: normal;
  font-size: 12px;
  padding: 1px 6px;
  border-radius: 12px;
  margin-left: 6px;
}

.news-feed ul li:last-child {
  padding: 8px 0;
  background-color: transparent;
}

.load-more  {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
}

.filled-circle, .unfilled-circle  {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px solid #00695c;
  margin-right: 4px;
}

.filled-circle  {
  background-color: #00695c;
}

.news-feed ul li.new-announcement {
  background-color: #e0f2f1;
}

.news-feed ul li.urgent-announcement {
  background-color: #ffebee;
}

.news-feed ul li.urgent-announcement .filled-circle {
  background-color: #c62828;
  border: 1px solid #c62828;
}

.proposal {
  border-bottom: 1px solid #cfd8dc;
}

.proposal-stats .row {
  font-size: 10px;
}

.proposal-stats .s4 {
  text-align: center;
}

.count  {
  font-size: 16px;
}

.underline-hover:link, .underline-hover:visited {
  text-decoration: none;
}

.underline-hover:hover, .underline-hover:active {
  text-decoration: underline;
}

.inline-list li  {
  float: left;
  margin-right: 48px;
}

.votes  {
  margin-top: 5px;
}
